.info-container {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
  margin: 6px;
}

.profile-pic {
  margin: 6px;
  width: 175px;
  height: 175px;
}

.info p {
  margin: 1px;
  font-size: 22px;
}